<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card [ngClass]="'profile'">
    <div [ngClass]="'avatarContainer'">
      <ion-img
        [src]="'https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Prescription02&facialHairType=BeardLight&facialHairColor=BrownDark&clotheType=Hoodie&clotheColor=Pink&eyeType=Close&eyebrowType=UnibrowNatural&mouthType=Twinkle&skinColor=Tanned'"
      ></ion-img>
      <h1>Mike Doug</h1>
    </div>
  </ion-card>
  <!--    <ion-nav #myNav [root]="details"></ion-nav>-->
  <msc-profile-details></msc-profile-details>
</ion-content>
