<ion-header>
  <ion-toolbar>
    <ion-title>Perscriptions</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <msc-segments-slide [segmentsData]="slides">
    <ion-slide *ngFor="let slide of slides">
      <msc-slide-item
              [component]="slide.component"
              [title]="slide.label"
              [data]="slide.data"
      ></msc-slide-item>
    </ion-slide>
  </msc-segments-slide>
</ion-content>
